/* General styling*/
@import url('//fonts.googleapis.com/css?family=Raleway+Extra-Bold:400,900&subset=latin,latin-ext');
@import url('//fonts.googleapis.com/css?family=Raleway&subset=latin,latin-ext');
@font-face {
    font-family: RalewayExtraBold;
    src: url("../fonts/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: RalewaySemiBold;
    src: url("../fonts/Raleway-SemiBold.ttf");
}
@font-face{
    font-family: RalewayThin;
    src: url("../fonts/Raleway-Thin.ttf");
}
*{
    font-family: RalewaySemiBold, sans-serif;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 4em;
    text-align:center;
    margin: 30px;
}
h3{
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align:left;
}

h4{
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: left;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: white;
}

#particles-js {
    margin-bottom: 0%;
    margin-top: 0%;
    height: 100%;
}

#mlh-trust-badge-cover {
    display:block;
    max-width:100px;
    min-width:60px;
    position:fixed;
    right:2%;
    top:0;
    width:10%;
    z-index:10000;
}

#mainnav {
    font-family: RalewayThin;
    background-color: darkblue;
    background: transparent;
}

#cover {
    background: url('../images/nicebg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#header {
    color: white;
    margin-top: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}

#about {
    margin-top: 0px;
    background: white;
    background-size: cover;
    background-size: cover;
    background-position: center;
}

#faq {
    background: white;
    background-size: cover;
    background-position: center;
}

#schedule {
    background: white;
    background-size: cover;
    background-position: center;
}

#sponsors {
    background: white;
    background-size: cover;
    background-position: center;
}

#team {
    background: white;
    background-size: cover;
    background-position: center;
    margin-bottom: 25%;
}

#footer {
    height: 40px;
    background: darkblue;
    background-size: cover;
    background-position: center;
}

.slide {
    margin-top: 25%;
    min-height:100vh;
    width:100%;
    display:table;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}


/* Larger Screens */
@media screen and (min-width: 720px) {
    /* Sections */
    .cover-content {
        width: 66em;

        position:absolute;
        left:0; right:0;
        top:50%;
        margin:auto;

        transform: translateY(-50%);

        max-width:100%;
        max-height:100%;

        padding-left: 2px;
        padding-right: 2px;

        text-align: center;
    }
}

/* Smaller Screens */
@media screen and (max-width:720px) {

    .cover-content {
        width: 90em;

        position: absolute;
        left: 0; right:0;
        right: 0;
        top: 50%;
        margin: auto;

        transform: translateY(-50%);

        max-width: 100%;
        max-height: 100%;

        padding-left: 2px;
        padding-right: 2px;

        text-align: center;
    }

}

/* Tints */
.translucent-1{
    background: rgb(151, 160, 230); /* Fallback for older browsers without RGBA-support */
    background: rgba(151, 160, 230, 0.5);
}
.translucent-2{
    background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
    background: rgba(59, 70, 85, 0.8);
}
.translucent-3{
    background: rgb(151, 160, 230); /* Fallback for older browsers without RGBA-support */
    background: rgba(49, 60, 75, 0.8);
}
.translucent-4{
    background: rgb(59, 70, 85); /* Fallback for older browsers without RGBA-support */
    background: rgba(59, 70, 85, 1.0);
}
