/* General styling*/
@font-face {
    font-family: RalewayExtraBold;
    src: url("../fonts/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: RalewaySemiBold;
    src: url("../fonts/Raleway-SemiBold.ttf");
}
@font-face{
    font-family: RalewayThin;
    src: url("../fonts/Raleway-Thin.ttf");
}
@font-face{
    font-family: RalewayRegular;
    src: url("../fonts/Raleway-Regular.ttf");
}
@font-face{
    font-family: RalewayLight;
    src: url("../fonts/Raleway-Light.ttf");
}
*{
    font-family: RalewayRegular, sans-serif;
}
img {
    -webkit-user-drag: none;
    user-drag: none;
}

.parallax-window {
    min-height: 50vh;
    background: transparent;
}
.panel-group {
    text-align: left;
}

.collapsing {
    transition: height 0.6s;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 4em;
    text-align:center;
    margin: 30px;
}
h3{
    font-size: 3.5em;
}

h4{
    font-size: 1.4em;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
}

.application {
    height: 50px;
    width: 230px !important;
    font-size: 1.2em;
}
.application:disabled {
    color: #030916;
    border-color: #030916;
    background-color: #d8d8d8;
}
.apply-button {
    font-size: 1.5em;
    width: 230px !important;
    height: 50px;
    background-color: transparent !important;
    color: white !important;
    border-color: white !important;
}
.apply-button:hover {
    background-color: white !important;
    color: #0A1939 !important;
    border-color: white !important;
}

.btn {
    width: 150px;
    background-color: white;
    color: #0A1939;
    border-color: #0A1939;
    transition: all 0.3s ease 0s;
    margin-bottom: 5px;
    margin-top: 5px;
}
.btn:hover {
    background-color: #0A1939;
    color: white;
    border-color: #0A1939;
}
.btn:active {
    background-color: #0A1939;
    color: white;
    border-color: #0A1939;
}

.zoom {
    transition: transform .2s;
    transform: scale(1);
}
.zoom:hover {
    transform: scale(1.05);
}

.media-zoom {
    transition: transform .2s;
    transform: scale(1);
}
.media-zoom:hover {
    transform: scale(1.2);
}

[data-toggle~="collapse"] {
    cursor: pointer;
}

#definition {
    max-width: 1020px;
    margin: 20px auto;
    position: relative;
}

#mlh-trust-badge-cover {
    top: 0%;
    display:block;
    position:fixed;
    right:10px;
    max-width:100px;
    min-width:60px;
    width:8%;
    z-index:10000;
}

#mainnav a {
    color:white;
    text-decoration: none;
}

#mainnav a:hover {
    color:lightgray;
    text-decoration: none;
}

#mainnav a:active {
    color:lightslategray;
    text-decoration: none;
}

#mainnav {
    z-index: 9500;
    font-family: RalewayThin;
    background-color: #0A1939;
    border-color: transparent;
    background: rgb(151, 160, 230);
    background: rgba(49, 60, 75, 0);
}

.overlay a {
    color:white;
    text-decoration: none;
}

.overlay a:hover {
    color:lightgray;
    text-decoration: none;
}

.overlay a:active {
    color:lightslategray;
    text-decoration: none;
}


.overlay {
    z-index: 9000;
    background-color: #0A1939;
    background: rgba(10, 25, 57, 0.8);
    height: 100%;
    width: 100%;

    position: fixed;
}
.overlay-list {
    z-index: 10000;
    text-align: center;
    font-size: 2em;

    width: 90em;

    position:absolute;
    left:0; right:0;
    top:50%;
    margin:auto;

    transform: translateY(-50%);

    max-width:100%;
    max-height:100%;

    padding-left: 2px;
    padding-right: 2px;

    list-style-type: none;
}

.navsocial {
    color: white;
    font-size: 20px;
}
.navobject {
    margin-left: -6px;
    margin-right: -6px;
}
.overlay-social {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.overlay-social-object {
    display: inline;
    list-style-type: none;
    margin: 10px;
    padding: 0;
}
.cover-image {
    background: url('../images/websitebkg.svg');
}
#cover {
    background-size: 100vmax;
    background-position: center top;
    background-attachment: fixed;
    min-height: 100%;
}
.slide {
    color: #0A1939;
    /*margin-top: 50vh;*/
    height: 100vh;
    min-height: 100%;
    width:100%;
    display:table;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#header {
    height: 100vh;
    display: block;
    color: white !important;
    margin-top: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}
.inner-parallax {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    height: 100%;
    min-height: 50vh;
    display: block;
    background: rgba(49, 60, 75, 0.6);
}
#about {
    margin-top: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    text-align: center;
}
#faq {
    background: white;
    background-size: cover;
    background-position: center;
    text-align: center;
}
#schedule {
    background: white;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
}
#sponsors {
    background: white;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#footer {
    height: 10%;

    background: #0A1939;
    background-size: cover;
    background-position: center;

    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;

    color: white;
    font-family: RalewayThin;
    text-align: center;
}

#footer-content {
    margin-bottom: 1%;
    margin-top: 1%;
}

.sponsor-obj {
    padding-left: 10px;
    padding-right: 10px;
}

.sponsor {
    padding-top: 15px;
    padding-bottom: 15px;
}

.co-host img {
    max-height: 600px;
    width: 1000px;
    max-width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}
.gold img {
    max-height: 400px;
    width: 900px;
    max-width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}
.silver img {
    max-height: 400px;
    width: 500px;
    max-width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}
.partner img {
    max-height: 300px;
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bronze img {
    max-height: 125px;
    max-width: 275px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

#spacer {
    min-height: 250px;
    height: 50%;
}
#outer-social {
    min-height: 250px;
    text-align: center;
    height: 50%;
}
#inner-social {
    top: 80%;
    position: relative;
}
.cover-content p {
    font-size: 1.6em;
    font-family: RalewayLight;
}

#stclair {
    max-height: 400px;
    width: 600px;
    max-width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 900px){
    #footer p {
        font-size: 0.9vw;
    }
}

@media screen and (min-width: 720px) and (max-width: 900px)  {
    #footer p {
        font-size: 1.8vw;
    }
}

/* Larger Screens */
@media screen and (min-width: 720px) {
    /* Sections */
    .cover-content img {
        width: 45%;
    }

    .cover-content {
        width: 66em;

        position:absolute;
        left:0;
        right:0;
        margin:auto;

        max-width:100%;
        /*min-height: 440px;*/

        transform: translateY(-50%);

        padding-left: 2px;
        padding-right: 2px;

        text-align: center;
    }
}

/* Smaller Screens */
@media screen and (max-width:720px){

    .cover-content img {
        max-width: 240px;
        width: 70%;
    }

    .cover-content {
        width: 95em;

        position:absolute;
        left:0;
        right:0;
        margin:auto;

        max-width:100%;

        transform: translateY(-50%);

        max-width: 100%;

        padding-left: 10px;
        padding-right: 10px;

        text-align: center;

    }

    .cover-content h1 {
        font-size: 2.3em;
    }

    .cover-content p {
        font-size: 1.3em;
    }

    #footer {
        font-size: 2.5vw;
    }
}

/* Smaller Screens */
@media screen and (max-width:800px) {
    .co-host img {
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .gold img {
        width: 93%;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .silver img {
        width: 70%;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .partner img {
        width: 60%;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .bronze img {
        width: 50%;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
/*
#smallcaption {
    display: none;
    visibility: hidden;
}
#bigcaption {
    display: block;
    visibility: visible;
}
#accordion {
    display: none;
    visibility: hidden;
}
#full-faq {
    display: block;
    visibility: visible;
}
#navham {
    display: none;
    visibility: hidden;
}
#outer-social {
    display: none;
    visibility: hidden;
}
#navleft {
    display: block;
    visibility: visible
}
#navright {
    display: block;
    visibility: visible
}

@media screen and (max-width:767px) {
    #smallcaption {
        display: block;
        visibility: visible;
    }
    #bigcaption {
        display: none;
        visibility: hidden;
    }
    #accordion {
        display: block;
        visibility: visible;
    }
    #full-faq {
        display: none;
        visibility: hidden;
    }
    #navham {
        display: block;
        visibility: visible;
    }
    #outer-social {
        display: block;
        visibility: visible;
    }
    #navleft {
        display: none;
        visibility: hidden;
    }
    #navright {
        display: none;
        visibility: hidden;
    }
}*/


/* Tints */
.translucent-1{
    background: rgb(151, 160, 230); /* Fallback for older browsers without RGBA-support */
    background: rgba(151, 160, 230, 0.5);
}
.translucent-2{
    background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
    background: rgba(59, 70, 85, 0.8);
}
.translucent-3{
    background: rgb(151, 160, 230); /* Fallback for older browsers without RGBA-support */
    background: rgba(49, 60, 75, 0.8);
}
.translucent-4{
    background: rgb(59, 70, 85); /* Fallback for older browsers without RGBA-support */
    background: rgba(59, 70, 85, 1.0);
}
