/* General styling*/
/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@font-face {
    font-family: RalewayExtraBold;
    src: url("../fonts/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: RalewaySemiBold;
    src: url("../fonts/Raleway-SemiBold.ttf");
}
@font-face{
    font-family: RalewayThin;
    src: url("../fonts/Raleway-Thin.ttf");
}
@font-face{
    font-family: RalewayRegular;
    src: url("../fonts/Raleway-Regular.ttf");
}
@font-face{
    font-family: RalewayLight;
    src: url("../fonts/Raleway-Light.ttf");
}*/
@font-face {
    font-family: Avenir;
    src: url("../fonts/Futura Light Regular.otf");
}
@font-face {
    font-family: Avenir Next Bold;
    src: url("../fonts/Futura Bold.otf");
}
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
*{
    font-family: Avenir, sans-serif;
}
img {
    -webkit-user-drag: none;
    user-drag: none;
}

body {
    overflow-x: hidden;
}

.parallax-window {
    min-height: 50vh;
    background: transparent;
}
.panel-group {
    text-align: left;
}

.collapsing {
    transition: height 0.6s;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 4em;
    text-align:center;
    margin: 30px;
}
h3{
    font-size: 3.5em;
    font-family: Avenir Next Bold;
}

h4{
    font-size: 1.4em;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
}

.application {
    height: 50px;
    width: 230px !important;
    font-size: 1.2em;
}
.application:disabled {
    color: #030916;
    border-color: #030916;
    background-color: #d8d8d8;
}
.apply-button {
    font-size: 1.5em;
    width: 250px !important;
    height: 50px;
    background-color: transparent !important;
    color: white !important;
    border-color: white !important;
}
.apply-button:hover {
    background-color: white !important;
    color: #0A1939 !important;
    border-color: white !important;
}

.btn {
    width: 150px;
    background-color: white;
    color: #0A1939;
    border-color: #0A1939;
    transition: all 0.3s ease 0s;
    margin-bottom: 5px;
    margin-top: 5px;
}
.btn:hover {
    background-color: #0A1939;
    color: white;
    border-color: #0A1939;
}
.btn:active {
    background-color: #0A1939;
    color: white;
    border-color: #0A1939;
}

.zoom {
    transition: transform .2s;
    transform: scale(1);
}
.zoom:hover {
    transform: scale(1.05);
}

.media-zoom {
    transition: transform .2s;
    transform: scale(1);
}
.media-zoom:hover {
    transform: scale(1.2);
}

[data-toggle~="collapse"] {
    cursor: pointer;
}

#definition {
    max-width: 1020px;
    margin: 20px auto;
    position: relative;
}

#mlh-trust-badge-cover {
    top: 0%;
    display:block;
    position:fixed;
    right:10px;
    max-width:100px;
    min-width:60px;
    width:8%;
    z-index:10000;
}

#mainnav a {
    color:black;
    text-decoration: none;
}

#mainnav a:hover {
    color:lightgray;
    text-decoration: none;
}

#mainnav a:active {
    color:lightslategray;
    text-decoration: none;
}

#mainnav {
    z-index: 9500;
    font-family: Avenir;
    background-color: #0A1939;
    border-color: transparent;
    background: rgb(151, 160, 230);
    background: rgba(49, 60, 75, 1);
    background-color: rgb(255,255,255);
}


#mainnav-live a {
    color:black;
    text-decoration: none;
}

#mainnav-live a:hover {
    color:lightgray;
    text-decoration: none;
}

#mainnav-live a:active {
    color:lightslategray;
    text-decoration: none;
}

#mainnav-live {
    z-index: 9500;
    font-family: Avenir;
    background-color: #0A1939;
    border-color: transparent;
    background: rgb(151, 160, 230);
    background: rgba(49, 60, 75, 0);
}


.overlay a {
    color:white;
    text-decoration: none;
}

.overlay a:hover {
    color:lightgray;
    text-decoration: none;
}

.overlay a:active {
    color:lightslategray;
    text-decoration: none;
}


.overlay {
    z-index: 9400;
    background: rgba(10, 25, 57, 0.8);
    height: 100%;
    width: 100%;

    position: fixed;
}
.overlay-list {
    z-index: 10000;
    text-align: center;
    font-size: 2em;

    width: 90em;

    position:absolute;
    left:0; right:0;
    top:50%;
    margin:auto;

    transform: translateY(-50%);

    max-width:100%;
    max-height:100%;

    padding-left: 2px;
    padding-right: 2px;

    list-style-type: none;
}

.navsocial {
    color: white;
    font-size: 20px;
}
.navobject {
    margin-left: -6px;
    margin-right: -6px;
    color: black;
}
.overlay-social {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.overlay-social-object {
    display: inline;
    list-style-type: none;
    margin: 10px;
    padding: 0;
}
.cover-image {
    background: url('../images/websitebkg.svg');
}
.time {
    transform: translate(50%, -45px);
    width: 200px;
    text-align: center;
    font-size: 14px;
}
.time-heading {
    transform: translate(50%, -65px);
    width: 200px;
    text-align: center;
    font-size: 14px;
    position: absolute;
}
.schedule-label {
    height: 2px;
    position: absolute;
    text-align: left;
    color: black;
    padding: 0;
    margin: 0;
    display: grid;
}
#label-container {
    height: 0;
}
.inner-label {
    position: relative;
    transform: translateY(-52px);
    padding-left: 1px;
    margin: 0;
    white-space: nowrap;
}
.label-caption {
    padding: 0;
    transform: translateY(12px);
}
.label-description {
    font-size: 13px;
}
.schedule-outer {
    padding-top: 20px;
    width: 100%;
    height: 600px;
    overflow-x: scroll;
    overflow-y: hide;
    -webkit-overflow-scrolling:touch;
}
.schedule-inner {
    padding: 0;

    padding-top: 30px;
    width: 100%;
    min-height: 500px;
    height: 90%;
    white-space: nowrap;
    -webkit-overflow-scrolling:touch;
    font-size: 0;
}
.schedule-obj {
    width: 200px;
    min-height: 500px;
    height: 100%;
    border-right-color: #ededed;
    border-right-style: solid;
    border-width: 1px;
    display: inline-block;
    text-align: center;
    padding-top: 20px;


}
#cover {
    background-size: 100vmax;
    background-position: center top;
    background-attachment: fixed;
    min-height: 100%;
    overflow-x: hidden;
}
.slide-live {
    color: #0A1939;
    width:100%;
    display:table;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.slide {
    color: #0A1939;
    /*margin-top: 50vh;*/
    /*height: 100vh;
    min-height: 100%;*/
    width:100%;
    display:table;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#header-live {
    display: block;
    background-color: #f4f4f4;
    color: white !important;
    margin-top: 50px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}
#header {
    height: 100vh;
    display: block;
    color: black !important;
    margin-top: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: #fafafa;
}
.inner-parallax {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    height: 100%;
    min-height: 50vh;
    display: block;
    /*background: rgba(49, 60, 75, 0.6);*/
}
#stream {

    height: 100%;
    width: 100%;
    padding-top: 50px;
    color: #000;
}
#map {
    margin-top: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    text-align: center;
}
#countdown {
    display: table-cell;
    vertical-align: middle;

    width: 100%;
    height: 200px;
    background-color: #f4f4f4;

    vertical-align: center;

    color: #0A1939;
    text-align: center;
}
#count-caption {
    font-family: 'Lato', sans-serif;
}
#count {
    font-size: 55px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}
#about {
    margin-top: 0px;
    /*
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;*/
    background-image: linear-gradient(to bottom, #ddd6f3 0%, #D5DEE7 100%);
    background: #D5DEE7;
    background: #fafafa;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#faq {
    background: white;
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background: #fafafa;
    background-blend-mode: normal,color-burn;
    background-size: cover;
    background-position: center;
    text-align: center;
}
#schedule {
    background: white;
    background-size: cover;
    background-position: center;
    text-align: center;
    min-height: 600px;
    padding-left: 0%;
    padding-right: 0%;
}
#sponsors {
    background: linear-gradient(to bottom, #E2E7ED 0%, #E2E7ED 100%);
    background: #fafafa;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#bad-schedule table, th, td {
    border: 1px solid black;
    padding: 5px;
}

#footer {
    height: 10%;

    background: #0A1939;
    background-size: cover;
    background-position: center;

    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;

    color: white;
    font-family: Avenir;
    text-align: center;
}

#footer-content {
    margin-bottom: 1%;
    margin-top: 1%;
}

.sponsor-obj {
    padding-left: 10px;
    padding-right: 10px;
}

.sponsor {
    padding-top: 15px;
    padding-bottom: 15px;
}

.co-host img {
    max-height: 600px;
    width: 1000px;
    max-width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}
.gold img {
    max-height: 400px;
    width: 900px;
    max-width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}
.silver img {
    max-height: 400px;
    width: 500px;
    max-width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}
.partner img {
    max-height: 300px;
    width: 300px;
    max-width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bronze img {
    max-height: 125px;
    max-width: 275px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

#coundown {
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
    text-align:center;
    margin: 30px;
}

#spacer {
    min-height: 250px;
    height: 50%;
}
#outer-social {
    min-height: 250px;
    text-align: center;
    height: 50%;
}
#inner-social {
    top: 80%;
    position: relative;
}
.cover-content p {
    font-size: 1.6em;
    font-family: Avenir;
}

#edsby {
    max-height: 115px;
    max-width: 275px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}
#ieee {
    max-height: 115px;
    max-width: 310px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

#digitalocean {
    max-height: 400px;
    width: 600px;
    max-width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

#uwindsor {
    max-height: 400px;
    width: 600px;
    max-width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

#stclair {
    max-height: 400px;
    width: 600px;
    max-width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

#github {
    max-height: 400px;
    width: 470px;
    max-width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 900px){
    #footer p {
        font-size: 0.9vw;
    }
}

@media screen and (min-width: 720px) and (max-width: 900px)  {
    #footer p {
        font-size: 1.8vw;
    }
}

/* Larger Screens */
@media screen and (min-width: 720px) {


    /* Sections */
    .cover-content img {
        width: 45%;
    }

    .cover-content {
        width: 66em;

        position:absolute;
        left:0;
        right:0;
        margin:auto;

        max-width:100%;
        /*min-height: 440px;*/

        transform: translateY(-50%);

        padding-left: 2px;
        padding-right: 2px;

        text-align: center;
    }
}

/* Smaller Screens */
@media screen and (max-width:720px){

    .cover-content img {
        max-width: 240px;
        width: 70%;
    }

    .cover-content {
        width: 95em;

        position:absolute;
        left:0;
        right:0;
        margin:auto;

        max-width:100%;

        transform: translateY(-50%);

        max-width: 100%;

        padding-left: 10px;
        padding-right: 10px;

        text-align: center;

    }

    .cover-content h1 {
        font-size: 2.3em;
    }

    .cover-content p {
        font-size: 1.3em;
    }

    #footer {
        font-size: 2.5vw;
    }
}

/* Smaller Screens */
@media screen and (max-width:800px) {
    .co-host img {
        max-width: 95%;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .gold img {
        max-width: 93%;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .silver img {
        max-width: 70%;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .partner img {
        max-width: 60%;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .bronze img {
        max-width: 50% !important;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
/*
#smallcaption {
    display: none;
    visibility: hidden;
}
#bigcaption {
    display: block;
    visibility: visible;
}
#accordion {
    display: none;
    visibility: hidden;
}
#full-faq {
    display: block;
    visibility: visible;
}
#navham {
    display: none;
    visibility: hidden;
}
#outer-social {
    display: none;
    visibility: hidden;
}
#navleft {
    display: block;
    visibility: visible
}
#navright {
    display: block;
    visibility: visible
}

@media screen and (max-width:767px) {
    #smallcaption {
        display: block;
        visibility: visible;
    }
    #bigcaption {
        display: none;
        visibility: hidden;
    }
    #accordion {
        display: block;
        visibility: visible;
    }
    #full-faq {
        display: none;
        visibility: hidden;
    }
    #navham {
        display: block;
        visibility: visible;
    }
    #outer-social {
        display: block;
        visibility: visible;
    }
    #navleft {
        display: none;
        visibility: hidden;
    }
    #navright {
        display: none;
        visibility: hidden;
    }
}*/

/* Tints */
.translucent-1{
    background: rgb(151, 160, 230); /* Fallback for older browsers without RGBA-support */
    background: rgba(151, 160, 230, 0.5);
}
.translucent-2{s
    background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
    background: rgba(59, 70, 85, 0.8);
}
.translucent-3{
    background: rgb(151, 160, 230); /* Fallback for older browsers without RGBA-support */
    background: rgba(49, 60, 75, 0.8);
}
.translucent-4{
    background: rgb(59, 70, 85); /* Fallback for older browsers without RGBA-support */
    background: rgba(59, 70, 85, 1.0);
}

/* James's Custom (ugly) CSS*/
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.panel-section {
    overflow: hidden;
    margin-bottom: 5%;
    align-items: center;
}
#shaped-container-1 {
    /*border-radius: 10px;*/
    box-shadow: 0px 10px 27px 0px rgba(0,0,0,0.34);
    color: white;
    padding: 2em;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    /*background: #6991c7;*/
}

#shaped-container-2 {
    border-radius: 10px;
    color: white;
    padding: 5%;
    background-image: linear-gradient(135deg, #330867 0%, #30cfd0 100%);
}
#faq h2 {
    text-align: left !important;
    font-size: 1.5em;
    font-family: Avenir Next Bold;
}
#faq p {
    text-align: justify;
}

#faq-box {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background: #537895;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    /*background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);*/
    /*border-radius: 10px;*/
    color: white;
    padding: 2em;
    box-shadow: 0px 10px 27px 0px rgba(0,0,0,0.34);
}
#faq-box a {
    color: #fdd6bd;
}
#img-grid img {
    object-fit: cover;
    object-position: center;
    width: 23vw;
    height: 23vw;
    border-radius: 20px;
}
#gradient1 {
    font-family: "Avenir Next Bold";
    background: -webkit-linear-gradient(#fc6076 0%, #ff9a44 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
#hamburger {
    color: black;
}
@media (max-width: 768px) {
    h3 {
        font-size: 2.7em;
    }
    #img-grid img {
        width: 16em;
        height: 16em;
		padding: 2%;
    }
    #shaped-container-1 {
        background: none;
        color: black;
        box-shadow: none;
    }
}

.img-wrapper {
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
	border-radius: 20px;
	vertical-align: middle;
}

@media (min-width: 768px) {
	.scaleonhover{
		-webkit-transition: transform 1s; /* Safari */
		transition: transform 1s;
	}

	.scaleonhover:hover{
		transform:scale(1.5);
		-ms-transform:scale(1.5); /* IE 9 */
		-moz-transform:scale(1.5); /* Firefox */
		-webkit-transform:scale(1.5); /* Safari and Chrome */
		-o-transform:scale(1.5); /* Opera */
	}
}
